html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

#app {
  overflow-x: hidden;
}

#message-username p {
  font-size: 14px;
}

.bg-lime {
  background-color: #c5e1ea;
}

.color-text-base {
  color: #646173;
}

.header {
  border-bottom: 1px solid #e9e9e9;
}
